<div class="home-container" ng-controller='routeController as routeCtrl'>
    <div class="container route-container">
        <h1 class="display-4 text-center m-2">Find your route</h1>
        <div class="row input-section">
            <input id="autocompleteStart" placeholder="Enter from" type="text">
            <input id="autocompleteEnd" placeholder="Enter to" type="text">
            <button class="ml-2" ng-click="routeCtrl.route()">Search for route</button>
        </div>
        <div class="wrapper">
            <div class="instructionsTable">
                <!--<div>-->
                    <table class="table table-striped table-dark" ng-if="routeCtrl.paths.length > 0"  style="height:500px">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%">Time</th>
                            <th scope="col" style="width: 40%">Route instructions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="path in routeCtrl.paths">
                            <td>{{path.time}}</td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr ng-repeat="instruction in path.instructions">
                                        <td style="font-size:15px">{{instruction.text}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
            <div class="buyTicketsTable">
                <!--<div >-->
                    <table class="table table-striped table-dark" ng-if="routeCtrl.hasFare" style="height:300px">
                        <tbody>
                        <tr ng-repeat="ticket in routeCtrl.tickets">
                            <td>{{ticket.route}}</td>
                            <td>
                                <button ng-click="routeCtrl.buyTicket($index)"><strong>Buy ticket</strong></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                 ng-if="flash" ng-bind="flash.message"></div>
            <div class="map">
                <div id="map-canvas" style="height:300px" ></div>
            </div>
        </div>
    </div>
</div>