/* app css stylesheet */

/*main container*/
.home-container {
    background: url(/images/station.jpg) repeat center center fixed;
    background-size: cover;
    min-height: 1024px;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

.home-page {
    border-radius: 10px;
    position: absolute;
    width: 40%;
    min-height: 200px;
    z-index: 15;
    top: 50%;
    left: 39%;
    margin: -200px 0 0 -150px;
    background: #e4e4e4;
}

/*login html css*/
.login-content {
    max-width: 56%;
    margin: auto;
}

/*form common css - login and user profile*/
form > h3 {
    margin: 20px;
}

form > input {
    margin: 3px;
}

.login-button {
    margin: 35px;
    margin-left: 35%;
}

.linked-words-padding {
    padding: 1% 1% 1% 46%;
}

/*route html css*/
.route-container {
    border-radius: 10px;
    position: absolute;
    width: 70%;
    min-height: 200px;
    z-index: 15;
    top: 50%;
    left: 27%;
    margin: -378px 0 0 -150px;
    background: #e4e4e4;
}

.route-container .input-section {
    padding: 30px;
    margin-left: 24%;
}

.route-container .input-section > input {
    margin: 4px;
    padding: 6px;
}

/*user profile html css*/
.user-profile-page {
    border-radius: 10px;
    position: absolute;
    width: 60%;
    min-height: 200px;
    z-index: 15;
    top: 50%;
    left: 27%;
    margin: -350px 0 0 -150px;
    background: #e4e4e4;
}

.user-profile-page .user-profile-content form input{
    max-width: 60%;
    margin: auto;
    padding: 10px;
}

.map {
    flex-basis: 100%;
}


.buyTicketsTable {
    flex-basis: 50%;
    height: 300px;
    overflow-y: auto;
}

.instructionsTable {
    overflow-y: auto;
    flex-basis: 50%;
    height: 300px;
}

.wrapper {
    margin: 0;
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


