<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyWay</title>

    <!--animate-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!--bootstrap library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--css-->
    <link rel="stylesheet" href="app.css">

    <!--angular library-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr4Pb41wNdMQvaZiiwYOVT4qv4maFWGoU&v=3.exp&signed_in=true&libraries=places"></script>


    <!--project-->
    <script src="app.js" type="text/javascript"></script>

    <script src="login-module/login-module.js" type="text/javascript"></script>
    <script src="login-module/login-controller.js" type="text/javascript"></script>
    <script src="login-module/login-service.js" type="text/javascript"></script>

    <script src="home-module/home-module.js" type="text/javascript"></script>

    <script src="common/flash-module.js"></script>
    <script src="common/flash-service.js"></script>

    <script src="user-profile-module/user-profile-module.js" type="text/javascript"></script>
    <script src="user-profile-module/user-profile-service.js" type="text/javascript"></script>
    <script src="user-profile-module/user-profile-controller.js" type="text/javascript"></script>

    <script src="route-module/route-module.js" type="text/javascript"></script>
    <script src="route-module/route-controller.js" type="text/javascript"></script>
    <script src="route-module/route-service.js" type="text/javascript"></script>

    <script src="ticket-module/ticket-module.js" type="text/javascript"></script>
    <script src="ticket-module/ticket-service.js" type="text/javascript"></script>

    <script src="user-tickets-module/user-tickets-module.js" type="text/javascript"></script>
    <script src="user-tickets-module/user-tickets-controller.js" type="text/javascript"></script>
    <script src="user-tickets-module/user-tickets-service.js" type="text/javascript"></script>


</head>
<body>
<nav class="navbar navbar-default sticky-top" style="background-image: linear-gradient(white, lightgrey)">
    <div class="container">
        <ul class="nav ml-auto">
            <li class="nav-item"><a class="nav-link" ui-sref="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" ng-if="!authenticated" ui-sref="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" ng-if="authenticated" ui-sref="route">Search Route</a></li>
            <li class="nav-item"><a class="nav-link" ng-if="authenticated" ui-sref="userProfile">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" ng-if="authenticated" ui-sref="userTickets">My tickets</a></li>
            <li class="nav-item" ng-controller="loginController as loginCtrl">
                <a class="nav-link" ng-if="authenticated" ng-click="loginCtrl.logoutUser()" href="#">Logout</a></li>

        </ul>
    </div>
</nav>
<div class="container">

</div>

<div id="main-container">
    <!--<div>-->

    <!--</div>-->
    <ui-view>
    </ui-view>
</div>

</body>
</html>