<div class="home-container" ng-controller="userTicketsController as userTicketsCtrl">
    <div class="container">
        <div class="user-profile-page">
            <h1 class="display-4 text-center m-2">User tickets</h1>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Route name</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticket in userTicketsCtrl.tickets">
                    <td>{{ticket.route.name}}</td>
                    <td>{{ticket.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>