<div class="home-container">
    <div class="container">
        <div class="home-page p-2">
            <h1 class="display-4 text-center m-2">Welcome to MyWay!</h1>
            <p class="m-2 text-center lead">
                This application lets you both search for public transport routes and buy tickets for
                them immediately!
            </p>
        </div>
    </div>
</div>