<div class="home-container" ng-controller="loginController as loginCtrl">
    <div class="home-page">
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
             ng-if="flash" ng-bind="flash.message"></div>
        <div class="linked-words-padding">
            <a href="#" class="" ng-click="loginCtrl.registerNewUser()" ng-if="!loginCtrl.user.isNewUser">Register</a>
            <span class="close" ng-click="loginCtrl.closeLoginForm()">&times;</span>
        </div>
        <div class="login-content">
            <form class="form-signin" name="loginCtrl.loginForm">
                <h3 class="text-center" ng-if="!loginCtrl.user.isNewUser">LOGIN</h3>
                <h3 class="text-center" ng-if="loginCtrl.user.isNewUser">REGISTER</h3>

                <!--first name-->
                <input class="form-control" placeholder="First Name" ng-if="loginCtrl.user.isNewUser"
                       type="text" autocomplete="off" ng-model="loginCtrl.user.firstName">
                <!--last name-->
                <input class="form-control" placeholder="Last name" ng-if="loginCtrl.user.isNewUser"
                       type="text" autocomplete="off" ng-model="loginCtrl.user.lastName">
                <!--email-->
                <input class="form-control" placeholder="Email" ng-if="loginCtrl.user.isNewUser" type="text"
                       autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       ng-model="loginCtrl.user.email" required>
                <!--username-->
                <input class="form-control" placeholder="Username" type="text" autocomplete="off"
                       ng-model="loginCtrl.user.username" required>
                <!--password-->
                <input class="form-control" placeholder="Password" type="password" autocomplete="off"
                       ng-model="loginCtrl.user.password" required>
                <!--confirm password-->
                <input class="form-control" placeholder="Confirm password" ng-if="loginCtrl.user.isNewUser"
                       type="password" autocomplete="off" ng-model="loginCtrl.user.confirmPassword">
                <!--identity card-->
                <input class="form-control" placeholder="Identity Card" ng-if="loginCtrl.user.isNewUser" type="text"
                       autocomplete="off" pattern="/^\d{10}$/"
                       ng-model="loginCtrl.user.identityCard">

                <button class="btn btn-primary btn-block col-md-4 login-button" type="submit"
                        ng-click="loginCtrl.submitForm()">
                    <span ng-if="!loginCtrl.user.isNewUser">Login</span>
                    <span ng-if="loginCtrl.user.isNewUser">Register</span>
                </button>
            </form>
        </div>
    </div>
</div>