<div class="home-container" ng-controller="userProfileController as userProfileCtrl">
    <div class="user-profile-page">
        <div class="user-profile-content">
            <form class="form-signin" name="userProfileCtrl.editUserForm">
                <h3 class="display-4 text-center m-2" ng-if="!userProfileCtrl.user.changingPassword">Edit Information</h3>
                <h3 class="display-4 text-center m-2" ng-if="userProfileCtrl.user.changingPassword">Change password</h3>

                <!--first name-->
                <input class="form-control" placeholder="First Name" ng-if="!userProfileCtrl.user.changingPassword"
                       type="text" autocomplete="off" ng-model="userProfileCtrl.user.firstName">
                <!--last name-->
                <input class="form-control" placeholder="Last name" ng-if="!userProfileCtrl.user.changingPassword"
                       type="text" autocomplete="off" ng-model="userProfileCtrl.user.lastName">
                <!--email-->
                <input class="form-control" placeholder="Email" ng-if="!userProfileCtrl.user.changingPassword"
                       type="text" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       ng-model="userProfileCtrl.user.email" required>
                <!--username-->
                <input class="form-control" placeholder="Username" ng-if="!userProfileCtrl.user.changingPassword"
                       type="text" autocomplete="off" ng-model="userProfileCtrl.user.username" required>
                <!--old password-->
                <input class="form-control" placeholder="Old Password" ng-if="userProfileCtrl.user.changingPassword"
                       type="password" autocomplete="off"
                       ng-model="userProfileCtrl.user.oldPassword" required>
                <!--new password-->
                <input class="form-control" placeholder="New Password" ng-if="userProfileCtrl.user.changingPassword"
                       type="password" autocomplete="off"
                       ng-model="userProfileCtrl.user.password" required>
                <!--confirm password-->
                <input class="form-control" placeholder="Confirm password" ng-if="userProfileCtrl.user.changingPassword"
                       type="password" autocomplete="off" ng-model="userProfileCtrl.user.confirmPassword">
                <!--identity card-->
                <input class="form-control" placeholder="Identity Card" ng-if="!userProfileCtrl.user.changingPassword"
                       type="text" autocomplete="off" pattern="^\d{10}$"
                       ng-model="userProfileCtrl.user.identityCard">
                <!--credit card-->
                <div>
                    <input class="form-control" placeholder="Card number" ng-if="!userProfileCtrl.user.changingPassword"
                           type="text" autocomplete="off" pattern="^\d{16}$"
                           ng-model="userProfileCtrl.user.creditCard.cardNumber">
                    <input class="form-control" placeholder="Card name" ng-if="!userProfileCtrl.user.changingPassword"
                           type="text" autocomplete="off"
                           ng-model="userProfileCtrl.user.creditCard.cardName">
                    <input class="form-control" placeholder="CVV" ng-if="!userProfileCtrl.user.changingPassword"
                           type="text" autocomplete="off" pattern="^\d{3}$"
                           ng-model="userProfileCtrl.user.creditCard.cvv">
                </div>

                <button class="btn btn-primary btn-block col-md-4 mt-4 login-button" type="submit"
                        ng-click="userProfileCtrl.submitForm()">
                    <span ng-if="!userProfileCtrl.user.changingPassword">Edit information</span>
                    <span ng-if="userProfileCtrl.user.changingPassword">Change password</span>
                </button>
            </form>
        </div>
        <div class="row mb-2">
            <a href="#" class="text-center linked-words-padding" ng-click="userProfileCtrl.changePassword()"
               ng-if="!userProfileCtrl.user.changingPassword">Change password </a>
        </div>
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
             ng-if="flash" ng-bind="flash.message"></div>
    </div>
</div>